// "font-awesome" have to be required in application.scss

/* OVERRIDE GEM */
.awesome-share-buttons, .awesome-social-pages {
  display: inline-block;
  font-size: 30px;
  margin-left: 20px;
  a {
    color: #000;
    margin-right: 10px;
    &.awesome-share-buttons-facebook {
      color: #3b5998;
      &:hover {
        color: #3b5998;
      }
    }
    &.awesome-share-buttons-youtube {
      color: #e52d27;
      &:hover {
        color: #e52d27;
      }
    }
    &.awesome-share-buttons-twitter {
      color: #00aced;
      &:hover {
        color: #00aced;
      }
    }
    &.awesome-share-buttons-google_plus {
      color: #dd4b39;
      &:hover {
        color: #dd4b39;
      }
    }    
    &.awesome-share-buttons-vk {
      color: #4c75a3;
      &:hover {
        color: #4c75a3;
      }
    }    
    &.awesome-share-buttons-rss {
      color: #ffa500;
      &:hover {
        color: #ffa500;
      }
    }
    &.awesome-share-buttons-tumblr {
      color: #35465c;
      &:hover {
        color: #35465c;
      }
    }
    &.awesome-share-buttons-pinterest {
      color: #bd2125;
      &:hover {
        color: #bd2125;
      }
    }
  }
}
